<div ng-controller="SignInController" ng-init="init()" class="container" data-toggle="validator" role="form">
    <div class="row center-block">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 class="form-group">Sign In</h2>

            <div class="form-group" ng-repeat="error in errors">
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            </div>

            <div class="form-group alert alert-success" ng-if="success">
                {{ success }}
            </div>

            <div class="form-group">
                <label>User Name:</label>
                <input type="text" required ng-model="signInModel.userName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" required data-minlength="6" ng-model="signInModel.password" class="form-control" />
            </div>

            <div class="form-group">
                <button id="btn-signin" ng-click="signIn()" class="btn btn-primary">Sign In</button>
                <a href="#/signup" class="btn btn-secondary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
